@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --background: 228, 11%, 95%; /* Light neutral */
  --foreground: 210, 15%, 20%; /* Dark gray */
  --primary: 14, 75%, 50%; /* #CA3F2E - Red */
  --primary-foreground: 210, 15%, 20%; /* White */
  --secondary: 220, 55%, 50%; /* #3F7ABS - Blue */
  --secondary-foreground: 0, 0%, 98%; /* White */
  --muted: 35, 29%, 76%; /* #D2BEA5 - Neutral */
  --muted-foreground: 210, 15%, 20%; /* Dark gray */
  --accent: 30, 44%, 46%; /* #93683D - Brown */
  --accent-foreground: 0, 0%, 98%; /* White */
  --destructive: 14, 75%, 50%; /* #CA3F2E - Red */
  --destructive-foreground: 0, 0%, 98%; /* White */
  --border: 228, 10%, 85%; /* Light neutral */
  --input: 228, 10%, 85%; /* Light neutral */
  --ring: 220, 55%, 50%; /* #3F7ABS - Blue */
  --radius: 0.5rem;
  --chart-1: 14, 75%, 50%; /* Red */
  --chart-2: 220, 55%, 50%; /* Blue */
  --chart-3: 35, 29%, 76%; /* Neutral */
  --chart-4: 30, 44%, 46%; /* Brown */
  --chart-5: 210, 15%, 20%; /* Dark gray */
}

@media (prefers-color-scheme: dark) {
  html.dark {
    --background: 210, 15%, 10%; /* #282522 - Dark gray */
    --foreground: 228, 11%, 95%; /* Light neutral */
    --primary: 14, 75%, 50%; /* #CA3F2E - Red */
    --primary-foreground: 0, 0%, 98%; /* White */
    --secondary: 220, 55%, 50%; /* #3F7ABS - Blue */
    --secondary-foreground: 0, 0%, 98%; /* White */
    --muted: 35, 29%, 50%; /* Darker Neutral */
    --muted-foreground: 228, 11%, 85%; /* Lighter Neutral */
    --accent: 30, 44%, 46%; /* #93683D - Brown */
    --accent-foreground: 0, 0%, 98%; /* White */
    --destructive: 14, 75%, 50%; /* #CA3F2E - Red */
    --destructive-foreground: 0, 0%, 98%; /* White */
    --border: 210, 15%, 25%; /* Slightly lighter dark gray */
    --input: 210, 15%, 25%; /* Slightly lighter dark gray */
    --ring: 220, 55%, 50%; /* #3F7ABS - Blue */
  }
}

body {
  color: var(--foreground);
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
